@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: #CD6346 !important;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    font-weight: 400;
}


/* -----------------
custom css design
--------------------- */

h4 {

    font-size: 38px;
    font-weight: 600;
    text-align: center;
    color: #333333;
}

h5 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #333333;
}

h6 {
    font-size: 24.85px;
    font-weight: 500;
    text-align: center;
    color: #252525;
}

.main-btn {
    padding: 8px 24px 8px 24px;
    border-radius: 15px;
    background-color: #CD6346;
    color: #fff;
    font-weight: 600;
    border: none;
    margin: 14px 0px;
}

.white-btn {
    padding: 8px 24px 8px 24px;
    border-radius: 15px;
    background-color: #fff;
    color: #CD6346;
    font-weight: 600;
    border: none;
    margin: 14px 20px 10px 14px;
}

.wrapper {
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
}

/* --------------------
      header design
   -------------------- */
.navbar-toogler:focus {
    outline: unset;
    border: unset;
    box-shadow: none;
}

.navbar-brand span {
    font-size: 28.04px;
    font-weight: 700;
    line-height: 57.06px;
    color: #333333;
}

.nav-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 57.06px;
    color: #1D1E1C;
}

.nav-item {
    padding: 0px 6px;
    transition: all 200ms linear;
}

/* --------------------
     Banner-section
   -------------------- */
.banner-con h4 {
    font-size: 76px;
    font-weight: 400;
    color: #1D1E1C;
}

.banner-con p {
    font-size: 14.1px;
    font-weight: 500;
    color: #1D1E1C;
    text-align: justified;
}

.banner-img .ban-img1 img {
    width: 80%;
    padding-top: 50px;
}

.banner-img .ban-img2 img {
    width: 90%;
}

/* --------------------
      header design
   -------------------- */
.content-section {
    padding-bottom: 4.25rem;
}

.content-section p {
    font-size: 26.16px;
    font-weight: 500;
    line-height: 38.24px;
    text-align: justified;
    color: #333333;
}


/* --------------------
      About-section
   -------------------- */
.about-sec .map-img1 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border-right: 1px solid #acabab;
}

.about-sec .map-img1 button {
    color: #000000;
    font-weight: 500;
    font-size: 24px;
}

.about-sec .map-img1 img {
    width: 80%;
}

.about-sec .map-img2 {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.about-sec .map-img2 button {

    color: #000000;
    font-weight: 500;
    font-size: 24px;
}

.about-sec .map-img2 img {
    width: 80%;
}

.truck {
    display: flex;
    justify-content: center;
    align-items: center;
}

.truck-img1 {
    position: relative;
}

.truck-img1 img {
    width: 70%;
}

.truck-img1 p {
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 16px;
    color: #fff;
}

.truck-img2 {
    position: relative;
}

.truck-img2 img {
    width: 80%;
}

.truck-img2 p {
    position: absolute;
    top: 42%;
    left: 24%;
    font-size: 16px;
    color: #fff;
}

.truck-img3 {
    position: relative;
}

.truck-img3 img {
    width: 98%;

}

.truck-img3 p {
    position: absolute;
    top: 42%;
    left: 28%;
    font-size: 16px;
    color: #fff;
}

.truck-img4 {
    position: relative;
}

.truck-img4 img {
    width: 82%;
}

.truck-img4 p {
    position: absolute;
    top: 90%;
    left: 28%;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    border: 1px solid #56A6D8;
    border-radius: 10px;
}

.fuel-container .fuel-con1 {
    width: 78%;
}

.border-class {
    border-left: 1px solid #acabab;
}

.fuel-container .fuel-con1 .omc .card {
    padding: 6px 24px 0px 24px;
    border: 1px solid #fff;
    box-shadow: 0px 0.79px 4.71px 0px #00000040;
    border-radius: 23.56px;
}

.fuel-container .fuel-con1 .omc .card h5 {
    text-align: center;
    font-size: 14.5px;
    font-weight: 500;
    color: #000;
    padding-top: 6px;
}

.fuel-container .fuel-con1 .omc button {
    padding: 8px 24px 8px 24px;
    border-radius: 11px;
    background-color: #89BEB2;
    color: #fff;
    font-weight: 600;
    border: none;
    margin: 14px 0px 14px 20px;
}

.fuel-container .fuel-con1 .omc {
    font-size: 12px;
    font-weight: 600;
    color: #333333;
    padding: 0px 8px;
}

/* EPR-section */
.EPR-section {
    margin: 80px 0px 80px 30px;
    margin-left: 100px;
    padding: 40px;
    background-color: #89BEB2;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
}

.EPR-con {
    background-color: #fff;
    border-radius: 30px;
    padding: 60px 20px;
}

.EPR-con h4 {
    font-size: 38px;
    font-weight: 600;
    color: #333333;
    text-align: left !important;
}

.EPR-img {
    background-color: #fff;
    border-radius: 30px;
    width: 440px;
    height: 300px;
    margin-left: 80px;
    margin-top: 60px;
}

.EPR-img img {
    width: 80%;
    padding-top: 40px;
}

/* <!-- innovatio-section --> */
.inno-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 25.23px 37.85px 0px #0000000D;
}

.inno-sec p {
    font-size: 18.28px;
    font-weight: 400;
    color: #9D9D9D;
    text-align: center;
}

/* solution-section */
.solution-section img {
    width: 98%;
}

/* recycle-section */
.recycle-section img {
    width: 80%;
}

/* footer-section */
.footer-section {
    background-color: #CD6346;
}

.box {
    width: 50%;
    margin-left: 310px;
}

.box h4 {
    color: #fff;
    font-size: 34px;
}

.btn-box {
    width: 50%;
    margin-left: 540px;
}

.btn-box button {
    background-color: #fff;
    color: #000;
}

.footer-sec2 {
    background-color: #85B7A5;
    padding: 48px 30px;
}

.foot-con {
    font-size: 12px;
}

.foot-con i {
    font-size: 20px;
    padding: 0 10px;
}

.foot-link a {
    display: block;
    text-align: left;
    font-size: 16.04px;
    font-weight: 400;
    color: #252525;
    padding-left: 60px;
}

.Contact-sec p {
    font-size: 12px;
    padding: 0px 40px;
}

.copy-right-sec {
    font-size: 14px;
    color: #fff;
}